.containr{
    background: rgb(25, 25, 25);
    width: 100%;
    height: 90vh;
}
.navbar{
    background-color: rgb(25, 25, 25);
    margin-left: 30px;

}
.navbar-nav{
    margin-left: 180px;
}

.hr{
    background-color: azure;
}
.box1{
    width: 32%;
}
.one{
    font-size: 14px;
    line-height: 15.4px;
    font-weight: 600;
    letter-spacing: 5px;
    color: rgba(255, 255, 255, 0.5);;
}
.two{
    font-size: 56px;
    line-height: 61.6px;
    font-weight: 600;
    color: white;
}
.three{
    font-size: 15px;
    font-weight: 400;
    line-height: 25.5px;
    color: rgba(255, 255, 255, 0.5);;
}
.btn{
    background-color: rgb(224, 154, 22);
}
.two{
    margin-left: 42px;
}
.box1{
    margin-left: 20px;
}
.box{
  margin-top: 100px;  
}
.image1{
    margin-left: 200px;
}
.containr2{
    margin-top: 200px;
    margin-left: 150px;
}
.four{
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    color: rgb(25, 25, 25);
    letter-spacing: 1px;
    font-family: sans-serif;
}
.six{
    color: rgb(74,74,74);
    font-size: 13px;
    line-height: 21.5px;
    font-weight: 700;
    font-family: sans-serif;

}
.six:hover{
    color: rgb(215,154,74);
}
.seven{
    color: rgb(215,154,74);
}
.box2{
    background-color: whitesmoke;
    width: 25%;
    justify-content: center;
    border-radius: 20px;
}
.box2 img{
    transform: translateY(-30px);
    margin-left: 50px;
}
.containr3{
    background-color: rgb(216,125,74);
    width: 87%;
    margin-left: 75px;
    height: 70vh;
    margin-top: 100px;
    border-radius: 10px;
    flex-wrap: wrap;
}
.eight{
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    color: white;
}
.nine{
    font-size: 15px;
    line-height: 23.4px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.75);
}
.box3{
    width: 29%;
    margin-left: 100px;

}.btn1{
    background-color: rgb(25, 25, 25);
    color: white;
}
.containr3 img{
    margin-top: 50px;
    margin-left: 80px;
}
.fourteen{
    letter-spacing: 1px;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    font-family: sans-serif;
    color: rgb(25, 25, 25);
}
.eleven{
    color: rgb(216,125,74);
}
.box4{
    margin-top: 150px;
    margin-left: 75px;
}
.tweleve{
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: grey
}
.thirteen{
    font-family: sans-serif;
    font-size: 28px;
    line-height: 33.6px;
    font-weight: 600;
    color: rgb(25, 25, 25);
}
.box4{
    width: 42%;
}
.box5 img{
    height: 70vh;
    border-radius: 10px;
    /* margin-left: 20px; */
}
.containr5{
    background-image: url(./images/part\ speaker1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    width: 87%;
    border-radius: 10px;
    margin-left: 75px;
    margin-top: 50px;
}
/* .containr5 img{
    height: 60vh;
    width: 84%;
    border-radius: 10px;
    margin-left: 120px;
} */
.box6{
    transform: translateY(150px);
    margin-left: 150px;
}
.containr6{
    margin-top: 70px;
    margin-left: 80px;
}
.containr6 img{
    border-radius: 10px;
    width: 42%;
}
.box7{
    height: 50vh;
    background-color: whitesmoke;
    width: 42%;
    margin-left: 54px;   
}
.thirteen{
    margin-top: 100px;
    margin-left: 80px;
}
.btn4{
    margin-left: 80px;
}
.containr7{
    background-color: rgb(25, 25, 25);
    height: 50vh;
}
.linksbody{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 440px;
}
.links{
    color: white;
    font-size:13px ;
    line-height: 19.5px;
    font-weight: 600;
    flex-direction: row;
    margin-left: 20px;
    letter-spacing: 1px;
}
.links:hover{
    color: rgb(216,125,74);
}
.box8 img{
    /* width: 10%; */
    height: 7vh;
    margin-top: 20px;
    margin-left: 70px;
}
.box9{
    width: 45%;
}
.fifteen{
    color: white;
    margin-left: 70px;
    margin-top: 30px;
    font-size: 15px;
    line-height: 24.9px;
    font-weight: 400;
}
.sixty{
    color: white;
    margin: 10px;
}
.fifty{
    transform: translateX(1100px);
}


@media (max-width:576px) {
    .containr{
    background: rgb(25, 25, 25);
    width: 100%;
    height: 70vh;
}
.one{
    font-size: 14px;
    line-height: 15.4px;
    font-weight: 600;
    letter-spacing: 5px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 50px;
}
    .two{
    font-size: 50px;
    line-height: 61.6px;
    font-weight: 600;
    color: white;
    text-align: center;
    margin-left: 0px;
}
.image1{
    display: none;
}
.three{
    font-size: 15px;
    font-weight: 400;
    line-height: 25.5px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);;
}
.malik{
    margin-left: 0px;
}
.btn{
    background-color: rgb(224, 154, 22);
    text-align: center;
}
.box1{
    width: 80%;
    text-align: center;
    margin-right: 0px;
}
.box{
    margin-top: 100px;
    margin-left: 0; 
  }
  .containr2{
    margin-top: 200px;
    margin-left: 0px;
    flex-wrap: wrap;
}
.four{
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    color: rgb(25, 25, 25);
    letter-spacing: 1px;
    font-family: sans-serif;
}
.six{
    color: rgb(74,74,74);
    font-size: 13px;
    line-height: 21.5px;
    font-weight: 700;
    font-family: sans-serif;

}
.six:hover{
    color: rgb(215,154,74);
}
.seven{
    color: rgb(215,154,74);
}
.box2{
    background-color: whitesmoke;
    width: 80%;
    justify-content: center;
    border-radius: 20px;
    margin-top: 30px;
}
.box2 img{
    transform: translateY(-30px);
    margin-left: 50px;
}
.containr3{
    background-color: rgb(216,125,74);
    width: 95%;
    margin-left: 10px;
    height: 90vh;
    margin-top: 100px;
    border-radius: 10px;
    flex-wrap: wrap;
}
.eight{
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    color: white;
}
.nine{
    font-size: 15px;
    line-height: 23.4px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.75);
}
.box3{
    width: 95%;
    margin-left: 0px;
    text-align: center;
    margin-left: 0px;

}.btn1{
    background-color: rgb(25, 25, 25);
    color: white;
}
.containr3 img{
    margin-top: 10px;
    margin-left: 20px;
}
.containr5{
    background-image: url(./images/part\ speaker1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    width: 95%;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 50px;
}
.box6{
    transform: translateY(150px);
    margin-left: 0px;
    text-align: center;
    align-items: center;
}
.containr6{
    margin-top: 70px;
    margin-left: 5px;
    flex-wrap: wrap;
    text-align: center;
}
.containr6 img{
    border-radius: 10px;
    width: 95%;
    margin-left: 5px;
}
.box7{
    height: 30vh;
    background-color: whitesmoke;
    width: 95%;
    margin-left: 10px; 
    margin-top: 20px;  
}
.thirteen{
    margin-top: 100px;
    margin-left: 0px;
}
.btn4{
    margin-left: 80px;
}
.containr4{
    flex-wrap: wrap;
}
.fourteen{
    letter-spacing: 1px;
    font-size: 35px;
    line-height: 48px;
    font-weight: 700;
    font-family: sans-serif;
    color: rgb(25, 25, 25);
}
.eleven{
    color: rgb(216,125,74);
}
.box4{
    margin-top: 150px;
    margin-left: 10px;
    width: 90%;
    text-align: center;
}
.tweleve{
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: grey
}
.box5{
    width: 100%;
}
.box5 img{
    height: 50vh;
    border-radius: 10px;
    margin-left: 0px;
}
.containr7{
    background-color: rgb(25, 25, 25);
    height: 60vh;
    flex-wrap: wrap;
}
.linksbody{
    list-style: none;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 0px;
    text-align: center;
    margin-right: 60px;
}
.links{
    color: white;
    font-size:13px ;
    line-height: 19.5px;
    font-weight: 600;
    flex-direction: column;
    margin-left: 0px;
    letter-spacing: 1px;
}
.links:hover{
    color: rgb(216,125,74);
}
.box8 img{
    width: 50%;
    height: 7vh;
    margin-top: 20px;
    margin-left: 95px;
}
.box8{
    text-align: center;
    flex-direction: column;
}
.box9{
    width: 90%;
    text-align: center;
}
.fifteen{
    color: white;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 15px;
    line-height: 24.9px;
    font-weight: 400;
}
.sixty{
    color: white;
    margin: 10px;
}
.fifty{
    transform: translateX(0px);
}




}

